@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}
html, body{
	margin: 0;
	padding: 0;
}
#connect_links a {
	text-decoration:none;
	padding: 15px;
}
#connect_links img{
	padding-top: 10px;
}
#connect_tables{
	padding-top: 5%;
}
#connect_left {
	width: 47%;
	float: left;
	margin-top: -3%;
}
#connect_right{
	width: 40%;
	float: right;
	margin-top: 10%;
}
#connect_right input,textarea, button{
	display: block;
}
#email h1{
	margin-bottom: -20px;
	padding-left: 10px;
	background: #000000;
	text-align: left;
	color: #00A5C6;
}
#email p{
	padding-left: 10px;
	background: #000000;
	color: #FFFFFF;
	text-align: left;
	padding-bottom: 5px;
}
input {
	width: 80%;
	border: 2px solid #595959;
	padding: 2px;
	font-family: Roboto;
	margin: 5px;
}
textarea {
	width: 80%;
	height: 100px;
	border: 2px solid #595959;
	font-family: Roboto;
	padding: 2px;
	margin: 10px;
}
button {
  font-family: Roboto;
  color: #ffffff;
  font-size: 16px;
  background: #000000;
  padding: 5px 25px 5px 25px;
  text-decoration: none;
  margin: 5px;
}
button:hover{
	background: #00A5C6;
  	text-decoration: none;
}
@media screen and (max-width : 800px)){
	#email h1 {
		margin-top: -10px;
		background: #FFFFFF;
	}
	#email p{
		background: #FFFFFF;
		color: #000000;
	}
	#connect_left img{
		display: none;
	}
	#connect_links img {
		display: inline;
	}
	#connect_left, #connect_right {
		width: 100%;
	}
	#connect_left {
		padding-top: 5%;
		height: auto;
  		width: 100%;
	}
	#connect_right {
		margin-top: 10px;
	}
}
