@charset "utf-8";
/* CSS Document */

html, body{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: LimeLight;
    src: url(../fonts/Limelight-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}
body{
	background: #000000;
}
#main_right{
	color: #FFFFFF;
	float: left;
}
#main_right h1{
	font-family: LimeLight;
	font-size: 52px;
	text-align: center;
}
#main_right p{
	font-family: Roboto;
	font-size: 20px;
	text-align: center;
}
#dev_main {
	color: #F04E98;
	text-decoration: none;
}
#athl_main {
	color: #DBE200;
	text-decoration: none;
}
#music_main {
	color: #FF962B;
	text-decoration: none;
}
#main_left, #main_right{
	width: 47%;
}
#main_left{
	float: left;
}
#main_right{
	margin-top: 16%;
	float: right;
}

@media all and (max-width : 800px) {
	#main_left, #main_right{
		width:100%;
	}
	#main_right h1{
		font-size: 28px;
	}
	#main_left img{
		padding-top: 30%;
		height: auto;
  		width: 100%;
	}
	#main_right{
		margin-top: -95%;
	}
}

