@charset "utf-8";
/* CSS Document */

html, body{
	background: #F2F2F2;
	margin: 0;
	padding: 0;
}
#content{
	width: 100%;
	padding-top: 40px;
}
#topButton{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background: #FF962B;
	-webkit-background: -webkit-linear-gradient(top, #FFBF80 .5%,#FF962B 80%);
	-moz-background: -moz-linear-gradient(top, #FFBF80 .5%,#FF962B 80%);
	-o-background: -o-linear-gradient(top, #FFBF80 .5%,#FF962B 80%);
	background: linear-gradient(to bottom, #FFBF80 .5%,#FF962B 80%);
	color: #FFFFFF;
	cursor: pointer;
	padding: 7px 20px 7px 20px;
	border-radius: 20px;
}
#topButton p{
	padding: 0;
	margin: 0;	
}
#topButton:hover{
	color: #000000;
	background: #595959;
	-webkit-background: -webkit-linear-gradient(top, #999999 .5%,#595959 80%);
	-moz-background: -moz-linear-gradient(top, #999999 .5%,#595959 80%);
	-o-background: -o-linear-gradient(top, #999999 .5%,#595959 80%);
	background: linear-gradient(to bottom, #999999 .5%,#595959 80%);
}
.music_sec{
	width: 78%;
	background: #FFFFFF;
	box-shadow: 10px 10px 10px #999999;
	margin-bottom: 80px;
	padding-bottom: 30px;
	padding-right: 30px;
	padding-left: 30px;
}
.music_sec h1{
	padding-top: 20px;
	text-align: right;	
}
.centered_video, .centered_audio{
	clear: both;
	width: 60%;
	padding-top: 10px;	
}
.videos, .audios{
	width: 40%;
}
.audios img, .centered_audio img{
	margin-bottom: -5px;	
}
.audios audio, .centered_audio audio{
	width: 100%;	
}
.text{
	width: 50%;
}
#classical_left{
	float: left;
	width: 45%;	
}
#classical_right{
	float: right;
	width: 45%;	
}
#steel_orc .text, #marching .videos{
	float: left;	
}
#marching .text, #steel_orc .audios{
	float: right;	
}
#arrangements .videos{
	float: left;	
}
.years {
	padding: 2%;
	padding-bottom: .25%;
	position: relative;
	left: 11%;
	text-align: left;
}
.years::before {
	content: attr(dates);
	position: absolute;
	font-weight: bold;
	font-size: 14px;
	top: .85em;
	display: block;
}
.years::after {
	width: 15px;
	height: 15px;
	display: block;
	top: .85em;
	position: absolute;
	left: -12px;
	border-radius: 10px;
	content: '';
	background: #FF962B;
	-webkit-background: -webkit-linear-gradient(top, #FFBF80 .5%,#FF962B 80%);
	-moz-background: -moz-linear-gradient(top, #FFBF80 .5%,#FF962B 80%);
	-o-background: -o-linear-gradient(top, #FFBF80 .5%,#FF962B 80%);
	background: linear-gradient(to bottom, #FFBF80 .5%,#FF962B 80%);
}
.imageText{
	margin: 0;
	padding: 0;
	margin-top: -25px;
	font-weight: bold;
	padding-left: 10px;
	color: #FFFFFF;
	text-align: left;	
}
@media all and (max-width: 800px){
	#content{
		padding-top: 175px;	
	}
	#topButton{
		padding: 5px 17px 5px 17px;	
	}
	.music_sec{
		width: 72%;
	}
	.years {
		padding: 4%;
	}
	.years:before{
		top: 1em;
		font-size: 12px;
	}
	.years:after{
		width: 10px;
		height: 10px;
		left: -8px;
	}
}
@media all and (max-width: 480px){
	#content{
		padding-top: 175px;	
	}
	#topButton{
		padding: 2px 15px 2px 15px;	
	}
	.music_sec{
		width: 70%;
	}
	.years {
		padding: 8%;
	}
	.years:before{
		top: 1.1em;
		font-size: 10px;
	}
	.years:after{
		width: 10px;
		height: 10px;
		left: -6px;
	}
	#steel_orc .text, #steel_orc .audios, #steel_orc .centered_video, #classical .centered_video,
	#marching .text, #marching .videos, #marching .centered_audio, #arrangements .audios{
		width: 90%;
	}
	#steel_orc .audios{
		margin-right: 12px;
	}	
	#steel_orc .years, #marching .years{
		padding: 5%;
	}
	#marching .text{
		float: left;	
	}
	#marching .videos{
		margin-left: 15px;	
	}
	#arrangements .audios{
		margin-right: 15px;	
	}
	#arrangements .videos{
		float: none;	
		width: 90%;
	}
}