@charset "utf-8";
/* CSS Document */

html, body{
	background: #F2F2F2;
	margin: 0;
	padding: 0;
}
#content{
	padding-top: 70px;
	padding-left: 3%;
	padding-right: 3%;
}
.music_sec{
	width: 80%;
	background: #FFFFFF;
	box-shadow: 10px 10px 10px #999999;
	margin-bottom: 50px;
	padding-bottom: 20px;
}
.music_sec h1{
	text-align: right;
	padding-right: 20px;	
}
#classical, #marching{
	float: right;	
}
#steel_orc, #arrangements{
	float: left;	
}
.videos, .audios{
	width: 40%;
	float: right;
	padding-right: 20px;	
}
.text{
	float: left;
	width: 55%;	
}

@media all and (max-width: 800px){
	#content{
		padding-top: 175px;	
		padding-left: 0;
		padding-right: 0;
	}
	#classical, #steel_orc,
	#marching, #arrangements{
		float: none;	
	}
}
@media all and (max-width: 480px){
	#content{
		padding-top: 175px;	
		padding-left: 0;
		padding-right: 0;
	}
	#classical, #steel_orc,
	#marching, #arrangements{
		float: none;	
	}
}