@charset "utf-8";
/* CSS Document */

html, body{
	background: #F2F2F2;
	margin: 0;
	padding: 0;
}
#content{
	padding-top: 40px;
	padding-left: 3%;
	padding-right: 3%;
}
.music_sec{
	width: 90%;
	background: #FFFFFF;
	box-shadow: 10px 10px 10px #999999;
	margin-bottom: 60px;
	padding-bottom: 30px;
	padding-right: 20px;
	padding-left: 20px;
}
.music_sec h1{
	padding-top: 10px;
	text-align: right;	
}
#classical_video{
	width: 60%;
	padding-top: 10px;	
}
.videos, .audios{
	float: right;
	width: 40%;
}
.audios {
	clear: both;	
}
.audios img{
	margin-bottom: -5px;	
}
.audios audio{
	width: 100%;	
}
.text{
	float: left;
	width: 55%;
}
#classical_left{
	float: left;
	width: 45%;	
}
#classical_right{
	float: right;
	width: 45%;	
}
.years {
	padding: 2%;
	padding-bottom: .25%;
	position: relative;
	left: 11%;
	text-align: left;
}
.years::before {
	content: attr(dates);
	position: absolute;
	font-weight: bold;
	font-size: 14px;
	top: .85em;
	display: block;
}
.years::after {
	width: 15px;
	height: 15px;
	display: block;
	top: .85em;
	position: absolute;
	left: -12px;
	border-radius: 10px;
	content: '';
	background: #FF962B;
	-webkit-background: -webkit-linear-gradient(top, #FFBF80 .5%,#FF962B 80%);
	-moz-background: -moz-linear-gradient(top, #FFBF80 .5%,#FF962B 80%);
	-o-background: -o-linear-gradient(top, #FFBF80 .5%,#FF962B 80%);
	background: linear-gradient(to bottom, #FFBF80 .5%,#FF962B 80%);
}
@media all and (max-width: 800px){
	#content{
		padding-top: 175px;	
		padding-left: 1%;
		padding-right: 1%;
	}
	.videos{
	}
}
@media all and (max-width: 480px){
	#content{
		padding-top: 175px;	
		padding-left: 0;
		padding-right: 0;
	}
	.videos{	
	}
}