@charset "utf-8";
/* CSS Document */

html,
body {
    background: #F2F2F2;
}

#content {
    padding-top: 40px;
}

.header_txt h4 {
    margin: 2px;
    padding: 8px;
    text-align: center;
}

.music_sec {
    margin: 0 auto;
    display: inline-table;
    padding-bottom: 30px;
}

.org_info {
    padding-top: 4px;
    height: 400px;
}

.org_info p {
    margin-left: 18.5%;
    text-align: left;
}

.header_txt,
.org_info {
    width: 500px;
    margin: 10px;
    background: #FFFFFF;
    box-shadow: 10px 10px 10px #999999;
}

.colorOverlay {
    margin-top: 35px;
    width: 400px;
    height: 200px;
    position: relative;
    background: rgba(255, 150, 43, 1);
    overflow: hidden;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
}

.colorOverlay:hover {
    background: none;
}

img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.img_format {
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: -30%;
    right: -30%;
    bottom: -30%;
    left: -30%;
    display: block;
    -webkit-filter: brightness(120%) grayscale(100%);
    filter: brightness(120%) grayscale(100%);
    opacity: .5;
}

.music_sec:hover .colorOverlay,
.music_sec:hover .img_format {
    background: none;
    opacity: 1;
    -webkit-filter: brightness(100%) grayscale(0);
    filter: brightness(100%) grayscale(0);
}

@media screen and (max-width: 800px) {
    #content {
        position: relative;
        padding-top: 190px;
        width: inherit;
        margin: 0;
    }

    .music_sec {
        display: block;
        margin: 0;
    }

    .header_txt,
    .org_info {
        width: 400px;
    }

    .org_info {
        height: 300px;
    }

    .org_info p {
        margin-left: 50px;
    }

    .colorOverlay {
        width: 300px;
        height: 150px;
    }
}

@media all and (max-width: 480px) {
    #content {
        padding-top: 175px;
        width: auto;
    }

    .music_sec .colorOverlay,
    .music_sec .img_format {
        background: none;
        opacity: 1;
        -webkit-filter: brightness(100%) grayscale(0);
        filter: brightness(100%) grayscale(0);
    }
}
