@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}

*{
	font-family: Roboto;
}

#navbar{
	padding-bottom: 32px;
	background: #000000;
	border-bottom: #595959 2pt solid;
}

#main_nav
{
	margin-top:15px;
}

#main_nav ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	background: #000000;
}

#main_nav ul a
{
	display:block;
	text-decoration:none;
	font-size:16px;
	line-height:32px;
	padding:0 35px;
	font-family: Roboto;
}

#main_nav ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#main_nav ul li:hover
{
	background:#595959;
}

#main_nav ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#main_nav ul ul li
{
	float:none;
	width:250px
}


#main_nav ul li:hover > ul
{
	display:block;
}

#home_nav a{
	color: #FFFFFF;
}
#prof_nav a{
	color: #F04E98;
}
#prof_nav li{
	background: #F04E98;
}
#prof_nav li a, #music_nav li a{
	color: #FFFFFF;
}
#prof_nav ul li:hover, #music_nav ul li:hover{
	background: #999999;
}
#athe_nav a{
	color: #DBE200;
}
#music_nav a{
	color: #FF962B;
}
#music_nav li{
	background: #FF962B;
}
#con_nav a{
	color: #00A5C6;
}
@media all and (max-width : 800px) {
	#navbar { 
		margin: 0;
	}
	
	#navbar ul, #navbar ul li{
	  display: block;
	  width: 100%;
	}
	
	#navbar ul ul {
	  float: none;
	  position: static;
	  width: 100%;
	}
	
	#navbar ul ul li {
	  display: block;
	  width: 100%;
	}
	
	#main_nav ul ul li{
		float:none;
		width:100%
 	}
	

}


