@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}
html, body{
	margin: 0;
	padding: 0;
	background: #F2F2F2;
}
#portfolio_content{
	padding-top: 45px;
	width: 87%;
	margin: 0 auto;
}
.container{
    display: inline-block;
    width: 600px;
    height: 270px;
    box-shadow: 10px 10px 10px #999999;
    background: #FFFFFF;
    margin: 1.28%;
}
.projectInfo {
    height: 270px;
    overflow: hidden;
    position: relative;
}
.projectHeader{
    font-family: Roboto;
    color: rgba(240,78,152,1);
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.projectDescr {
    text-align: left;
    padding: 5px;
    -webkit-transform: translateY(54%);
    transform: translateY(54%);
    color: #FFFFFF;
    padding-top: 5px;
    background: #595959;
    height: 100%;
    width: 100%;
    
    transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
}
.year_city {
    margin: 0;
}
.pro_descr {
    margin-right: 5px;
    padding-right: 5px;
}
.container:hover .projectDescr{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    
    transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
    position: absolute;
    color: #FFFFFF;
    padding-top: 5px;
    background: #595959;
    height: 100%;
    width: 100%;
}
.projectLinks {
    background: #FFFFFF;
    position: absolute; 
    bottom: 0; 
    text-align: left;
    width: 100%;
    padding: 5px;
    border-top: 2px solid #595959;
}
.colorOverLay {
	width: 270px;
	height: 270px;
	position: relative;
	display: inline-block;
	background: rgba(240,78,152,1);
    transition: 0.5s;
    float: left;
    overflow: hidden;
}
.container:hover .colorOverLay {
	background: none;
}
.imageStyles {
    position: absolute;
    min-height: auto;
    min-width: auto;
    top: 50%;
    
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    
	-webkit-filter: brightness(120%) grayscale(100%);
	filter: brightness(120%) grayscale(100%);
	opacity: .5;
}
.container:hover .imageStyles {
	opacity: 1;
	-webkit-filter: brightness(100%) grayscale(0);
	filter: brightness(100%) grayscale(0);
}



@media all and (max-width: 800px){
 
}
@media all and (max-width: 700px) and (max-height: 420px){
 
}
@media all and (max-width: 480px){
 
}

