@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}
html, body{
	margin: 0;
	padding: 0;
	background: #F2F2F2;
}
#portfolio_content{
	padding-top: 45px;
	width: 90%;
	margin: 0 auto;
}
.container{
    display: inline-block;
    width: 600px;
    height: 270px;
    box-shadow: 10px 10px 10px #999999;
    background: #FFFFFF;
    margin: 1.28%;
}
.projectInfo {
    height: 270px;
    overflow: hidden;
    position: relative;
}
.projectHeader{
    color: rgba(240,78,152,1);
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.projectDescr {
    text-align: left;
    padding: 5px;
    -webkit-transform: translateY(48%);
    transform: translateY(48%);
    color: #FFFFFF;
    padding-top: 5px;
    background: #595959;
    height: 100%;
    width: 100%;
    
    transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
}
.year_city {
    margin: 0;
}
.pro_descr {
    margin-right: 5px;
    padding-right: 5px;
}
.project_type {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}
.container:hover .projectDescr{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    
    transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
    position: absolute;
    color: #FFFFFF;
    padding-top: 5px;
    background: #595959;
    height: 100%;
    width: 100%;
}
.projectLinks {
    background: #FFFFFF;
    position: absolute; 
    bottom: 0; 
    text-align: left;
    width: 100%;
    padding: 5px;
    border-top: 2px solid #595959;
}
.colorOverLay {
	width: 270px;
	height: 270px;
	position: relative;
	display: inline-block;
	background: rgba(240,78,152,1);
    transition: 0.5s;
    float: left;
    overflow: hidden;
}
.container:hover .colorOverLay {
	background: none;
}
.imageStyles {
    position: absolute;
    min-height: auto;
    min-width: auto;
    top: 50%;
    
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    
	-webkit-filter: brightness(120%) grayscale(100%);
	filter: brightness(120%) grayscale(100%);
	opacity: .5;
}
.container:hover .imageStyles {
	opacity: 1;
	-webkit-filter: brightness(100%) grayscale(0);
	filter: brightness(100%) grayscale(0);
}
/*NEW CONTENT HERE*/
.imageOverlayClass {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(0, 0,0,.8);
    overflow: hidden;
    transition: 0.5s;
}
.centeredImage {
    position: relative;
    width: inherit;
    height: inherit;
}
.centeredImage img{
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    padding: 0;
    width: 85%;
    height: 85%;
    object-fit: contain;
}
.imageOverlayClass .closebtn {
    padding: 8px;
    text-decoration: none;
    font: Roboto;
    color: #F04E98;
    font-size: 40px;
    display: block;
    transition: 0.3s;
    z-index: 101;
}
.imageOverlayClass .closebtn:hover, 
.imageOverlayClass .closebtn:focus {
    color: #999999;
}
.imageOverlayClass .closebtn {
    position: absolute;
    top: 1%;
    right: 1%;
}
@media all and (max-width: 800px){
    .container{
        width: 100%;
        height: 200px;
    }
    .projectInfo {
        height: 200px;
    }
    .colorOverLay {
        height: 200px;
        width: 200px;
    }
    .projectHeader {
        margin-bottom: 3%;
        margin-top: 3%;
    }
    .project_type {
        font-size: 12px;
    }
    .projectDescr {
        -webkit-transform: translateY(36%);
        transform: translateY(36%);
    }
    .projectLinks a {
        font-size: 16px;
    }
    .imageOverlayClass .closebtn {
        font-size: 36px;
    }
}
@media all and (max-width: 480px){
    .container{
        width: 100%;
        height: 200px;
    }
    .projectInfo {
        height: 185px;
    }
    .colorOverLay {
        height: 200px;
        width: 115px;
    }
    .projectDescr {
        -webkit-transform: translateY(48%);
        transform: translateY(48%);
        padding-left: 2px;
    }
    .project_type {
        font-size: 10px;
    }
    .projectLinks a {
        font-size: 12px;
    }
    .projectLinks {
        padding: 2px;
    }
    .imageOverlayClass .closebtn {
        font-size: 24px;
    }
}
