@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}
html, body{
	margin: 0;
	padding: 0;
	background: #000000;
}
#portfolio_content{
	padding-top: 3%;
	width: 60%;
	margin: 0 auto;
}
.colorOverLay {
	margin: .35%;
	width: 300px;
	height: 300px;
	position: relative;
	display: inline-block;
	background: rgba(240,78,152,1);
	overflow: hidden;
}
.colorOverLay:hover{
	background: none;
}
.imageStyles{
	overflow: hidden;
	position: relative;
}
#portfolio_content img {
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;
	margin: auto;
	position: absolute;
	top: -100%;
	right: -100%;
	bottom: -100%;
	left: -100%;
	display:block; 
	-webkit-filter: brightness(120%) grayscale(100%);
	filter: brightness(120%) grayscale(100%);
	opacity: .5;
	
}
#portfolio_content img:hover{
	opacity: 1;
	-webkit-filter: brightness(100%) grayscale(0);
	filter: brightness(100%) grayscale(0);
}

@media screen and (max-width : 800px){
	.colorOverLay {
		width: 150px;
		height: 150px;	
	}
}
