@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}
html, body{
	margin: 0;
	padding: 0;
	background: #F2F2F2;
}
#portfolio_content{
	padding-top: 45px;
	width: 87%;
	margin: 0 auto;
}
.colorOverLay {
	margin: 1.15%;
	width: 285px;
	height: 285px;
	position: relative;
	display: inline-block;
	background: rgba(240,78,152,1);
	overflow: hidden;
	cursor: pointer;
    transition: 0.3s;
	box-shadow: 10px 10px 10px #999999;
}
.colorOverLay:hover{
	background: none;
}
.imageStyles{
	overflow: hidden;
	position: relative;
}
#portfolio_content img {
	padding-top: 0;
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;
	margin: auto;
	position: absolute;
	top: -100%;
	right: -100%;
	bottom: -100%;
	left: -100%;
	display:block; 
	-webkit-filter: brightness(120%) grayscale(100%);
	filter: brightness(120%) grayscale(100%);
	opacity: .5;
}
#portfolio_content img:hover{
	opacity: 1;
	-webkit-filter: brightness(100%) grayscale(0);
	filter: brightness(100%) grayscale(0);
}
.fullImageClass {
    display: none; 
    position: fixed;
    z-index: 100; 
    padding-top: .25%;
    left: 0;
    top: 0;
    width: 100%; 
	height: 100%;
    overflow: inherit; 
    background-color: rgba(0, 0,0,.8);
}
.imageDiv {
	width: 100%;
}
#portfolio_content .fullImage-content {
	padding-bottom: 2%;
    margin: auto;
    display: block;
    min-width: 20%;
	min-height: 73%;
	opacity: 1;
	-webkit-filter: brightness(100%) grayscale(0);
	filter: brightness(100%) grayscale(0);
}
#text {
	padding-top: 10%;
    display: block;
    width: 100%;
    text-align: center;
    font: Roboto;
    font-size: 30px;
	font-weight: bold;
    color: #F04E98;
	bottom: 0;
	position: inherit;
}
#text p{
	color: #FFFFFF;
	margin-top: -.15%;
	font-size: 24px;
	font-weight: normal;
}
#text p a{
    color: #FFFFFF;
}
.fullImage-content, #text {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {
		-webkit-transform:scale(0);
		transform: scale(0);
	} 
    to {
		-webkit-transform:scale(1);
		transform: scale(1);
	}
}
@keyframes zoom {
    from {
		transform:scale(0);
	} 
    to {
		transform:scale(1);
	}
}
.exit {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #F04E98;
    font: Roboto;
    font-size: 40px;
    transition: 0.3s;
}
.exit:hover,.exit:focus {
    color: #999999;
    text-decoration: none;
    cursor: pointer;
}
@media all and (max-width: 800px){
	.colorOverLay {
		margin: 1%;
		width: 150px;
		height: 150px;	
		box-shadow: 8px 8px 8px #999999;
	}
	#portfolio_content{
		padding-top: 180px;
		width: 85%;
	}
	#portfolio_content img{
		max-width: 250%;
		max-height: 250%;
	}
	#portfolio_content .fullImage-content {
		min-height: 600px;
		min-width: 600px;
	}
	.imageDiv img{
		width: 600px;
		height: 600px;
	}
	#text{
		font-size: 17px;
	}
	#text p{
		font-size: 13px;
	}
}
@media all and (max-width: 700px) and (max-height: 420px){
	.colorOverLay {
		margin: .85%;
		width: 100px;
		height: 100px;	
		box-shadow: 6px 6px 6px #999999;
	}
	#portfolio_content{
		padding-top: 180px;
		width: 90%;
	}
	#portfolio_content img{
		max-width: 225%;
		max-height: 225%;
	}
	#portfolio_content .fullImage-content {
		min-height: 260px;
		min-width: 260px;
	}
	.imageDiv img{
		width: 260px;
		height: 260px;
	}
	#text{
		font-size: 14px;
	}
	#text p{
		font-size: 10px;
	}
}
@media all and (max-width: 480px){
	.colorOverLay {
		margin: .55%;
		width: 100px;
		height: 100px;	
		box-shadow: 3px 3px 3px #999999;
	}
	#portfolio_content{
		padding-top: 180px;
		width: 95%;
	}
	#portfolio_content img{
		max-width: 215%;
		max-height: 215%;
	}
	#portfolio_content .fullImage-content {
		min-height: 320px;
		min-width: 320px;
	}
	.imageDiv img{
		width: 320px;
		height: 320px;
	}
	#text{
		font-size: 11px;
	}
	#text p{
		font-size: 10px;
	}
}
