@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}
html, body{
	margin: 0;
	padding: 0;
	background: #000000;
}
#portfolio_content{
	padding-top: 3%;
	width: 70%;
	margin: 0 auto;
}
.colorOverLay {
	margin: .55%;
	width: 300px;
	height: 300px;
	position: relative;
	display: inline-block;
	background: rgba(240,78,152,1);
	overflow: hidden;
	cursor: pointer;
    transition: 0.3s;
}
.colorOverLay:hover{
	background: none;
}
.imageStyles{
	overflow: hidden;
	position: relative;
}
#portfolio_content img {
	padding-top: 0;
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;
	margin: auto;
	position: absolute;
	top: -100%;
	right: -100%;
	bottom: -100%;
	left: -100%;
	display:block; 
	-webkit-filter: brightness(120%) grayscale(100%);
	filter: brightness(120%) grayscale(100%);
	opacity: .5;
}
#portfolio_content img:hover{
	opacity: 1;
	-webkit-filter: brightness(100%) grayscale(0);
	filter: brightness(100%) grayscale(0);
}
.fullImageClass {
    display: none; 
    position: fixed;
    z-index: 100; 
    padding-top: .25%;
    left: 0;
    top: 0;
    width: 100%; 
	height: 100%;
    overflow: inherit; 
    background-color: rgb(0,0,0); 
    background-color: rgba(89, 89,89,.95);
}
.imageDiv {
	width: 100%;
}
#portfolio_content .fullImage-content {
	padding-bottom: 2%;
    margin: auto;
    display: block;
    min-width: 20%;
	min-height: 73%;
	opacity: 1;
	-webkit-filter: brightness(100%) grayscale(0);
	filter: brightness(100%) grayscale(0);
}
#text {
	padding-top: 10%;
    display: block;
    width: 100%;
    text-align: center;
    font: Roboto;
    font-size: 30px;
	font-weight: bold;
    color: #F04E98;
	bottom: 0;
	position: inherit;
}
#text p{
	color: #FFFFFF;
	margin-top: -.15%;
	font-size: 24px;
	font-weight: normal;
}
.fullImage-content, #text {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {
		-webkit-transform:scale(0);
	} 
    to {
		-webkit-transform:scale(1);
	}
}
@keyframes zoom {
    from {
		transform:scale(0);
	} 
    to {
		transform:scale(1);
	}
}
.exit {
	padding-top: 1%;
    position: absolute;
    top: 15px;
    right: 35px;
    color: #F04E98;
    font: Roboto;
    font-size: 40px;
    transition: 0.3s;
}
.exit:hover,.exit:focus {
    color: #999999;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 800px){
	.colorOverLay {
		width: 150px;
		height: 150px;	
	}
	.imageDiv img{
		width: 700px;
		height: auto;
	}
	#text{
		font-size: 20px;
	}
	#text p{
		font-size: 16px;
	}
}
@media only screen and (max-width: 480px){
	.colorOverLay {
		width: 100px;
		height: 100px;	
	}
	.imageDiv img{
		width: 450px;
		height: auto;
	}
	#text{
		font-size: 16px;
	}
	#text p{
		font-size: 12px;
	}
}
