@charset "utf-8";
/* CSS Document */

html, body{
	background: #000000;
	margin: 0;
	padding: 0;
}
.resume_div{
	margin: 0 auto;	
	padding: 10px;
	width: 85%;
	background: #FFFFFF;
	margin-bottom: 25px;
}
.resume_div table{
	display: inline-table;
}
#pdf_div button{
	padding: 10px 25px 10px 25px;
	border: none;
	border-radius: 20px;
	background: #F04E98;
	-webkit-background: -webkit-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	-moz-background: -moz-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	-o-background: -o-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	background: linear-gradient(to bottom, #F58ABA .5%,#F04E98 80%);
}
#pdf_div button:hover{
	background: #595959;
	-webkit-background: -webkit-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	-moz-background: -moz-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	-o-background: -o-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	background: linear-gradient(to bottom, #999999 .5%,#595959 80%);
}
#pdf_div a{
	text-decoration: none;
	color: #595959;
}
#pdf_div button:hover a{
	color: #F04E98;
}
#skills_div table{
	border-spacing:0 20px;
	border-collapse:separate;	
}
#skills_div td{
	text-align: left;	
}
.row_headers{
	padding-left: 20px;
}
.progress { 
	border: 1pt solid #000000;
	border-radius: 20px;
	position: relative;
}
.percent{
	position: absolute;   
}
.bar {
 	height: 20px;
	border-radius: 20px;
	background: #F04E98;
	float: left;
	-webkit-background: -webkit-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	-moz-background: -moz-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	-o-background: -o-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	background: linear-gradient(to bottom, #F58ABA .5%,#F04E98 80%);
}
@media all and (max-width: 800px){
	
	.resume_div{
		padding-bottom: 10px;
	}
	.resume_div table{
		width: 90%;
		display: block;
		margin-bottom: -20px;
	}
}
@media all and (max-width: 480px){
	.resume_div{
		padding-bottom: 30px;
	}
	.resume_div table{
		width: 90%;
		display: block;
		margin-bottom: -20px;
	}
}
