@charset "utf-8";
/* CSS Document */

html, body{
	background: #F2F2F2;
	margin: 0;
	padding: 0;
}
#content{
	padding-top: 50px;
}
.resume_div{
	margin: 0 auto;	
	padding: 5px;
	padding-bottom: 25px;
	width: 85%;
	background: #FFFFFF;
	margin-bottom: 25px;
	box-shadow: 10px 10px 10px #999999;
}
.resume_div table{
	display: inline-table;
}
.resume_div h1{
	text-align: center;	
}
#pdf_div a{
	padding: 10px 25px 10px 25px;
	border: none;
	border-radius: 20px;
	background: #F04E98;
	-webkit-background: -webkit-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	-moz-background: -moz-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	-o-background: -o-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	background: linear-gradient(to bottom, #F58ABA .5%,#F04E98 80%);
	text-decoration: none;
	color: #FFFFFF;
}
#pdf_div a:hover{
	background: #595959;
	-webkit-background: -webkit-linear-gradient(top, #999999 .5%,#595959 80%);
	-moz-background: -moz-linear-gradient(top, #999999 .5%,#595959 80%);
	-o-background: -o-linear-gradient(top, #999999 .5%,#595959 80%);
	background: linear-gradient(to bottom, #999999 .5%,#595959 80%);
}
#adobe-dc-view{
    padding-top: 20px;
    align-content: center;
    width: 800px;
    height: 1071px;
}
#cert, h2 {
    font-size: 0;
}
@media all and (max-width: 800px){
	#content{
		padding-top: 170px;
	}
	.resume_div{
		padding-bottom: 25px;
	}
	.resume_div table{
		width: 90%;
		display: block;
		margin-bottom: -20px;
	}
	#pdf_div a{
		font-size: 14px;
	}
    #adobe-dc-view{
        width: 100%;
    }
}
@media all and (max-width: 480px){
	#content{
		padding-top: 180px;
	}
	.resume_div{
		padding-bottom: 30px;
	}
	.resume_div table{
		width: 90%;
		display: block;
		margin-bottom: -20px;
	}
	#pdf_div a{
		font-size: 12px;
	}
}
