@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: LimeLight;
    src: url(../fonts/Limelight-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}
* h1{
	font-family: LimeLight;
	font-size: 48px;
}
* h3 {
	font-family: LimeLight;
	font-size: 28px;
}
* h4{
	font-family: LimeLight;
	font-size: 22px;
}
* p, td{
	font-family: Roboto;
	font-size: 18px;
}
#topButton{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 7px 20px 7px 20px;
	border-radius: 20px;
}
#topButton p{
	padding: 0;
	margin: 0;	
}
#topButton:hover{
	color: #000000;
	background: #595959;
	-webkit-background: -webkit-linear-gradient(top, #999999 .5%,#595959 80%);
	-moz-background: -moz-linear-gradient(top, #999999 .5%,#595959 80%);
	-o-background: -o-linear-gradient(top, #999999 .5%,#595959 80%);
	background: linear-gradient(to bottom, #999999 .5%,#595959 80%);
}
.scrollButtons.musicPage{
    color: #FFFFFF;
    background: #FF962B;
	-webkit-background: -webkit-linear-gradient(top, #FFBF80 .5%,#FF962B 80%);
	-moz-background: -moz-linear-gradient(top, #FFBF80 .5%,#FF962B 80%);
	-o-background: -o-linear-gradient(top, #FFBF80 .5%,#FF962B 80%);
	background: linear-gradient(to bottom, #FFBF80 .5%,#FF962B 80%);  
}
.athletePage{
    color: #595959;
    background: #DBE200;
	-webkit-background: -webkit-linear-gradient(top, #FAFF66 .5%,#DBE200 80%);
	-moz-background: -moz-linear-gradient(top, #FAFF66 .5%, #DBE200 80%);
	-o-background: -o-linear-gradient(top, #FAFF66 .5%,#DBE200 80%);
	background: linear-gradient(to bottom, #FAFF66 .5%,#DBE200 80%);  
}
.profesPage{
    color: #595959;
    background:  #F04E98;
	-webkit-background: -webkit-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	-moz-background: -moz-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	-o-background: -o-linear-gradient(top, #F58ABA .5%,#F04E98 80%);
	background: linear-gradient(to bottom, #F58ABA .5%,#F04E98 80%);
}
@media all and (max-width: 800px){
	* h1 {
		font-size: 30px;
	}
	* h3 {
		font-size: 20px;
	}
	* h4 {
		font-size: 18px;
	}
	* p, td {
		font-size: 16px;
	}
	#topButton{
		padding: 5px 17px 5px 17px;	
	}
}
@media all and (max-width: 480px){
	* h1 {
		font-size: 24px;
	}
	* h3 {
		font-size: 20px;
	}
	* h4 {
		font-size: 16px;
	}
	* p, td {
		font-size: 12px;
	}
	#topButton{
		padding: 2px 15px 2px 15px;	
	}
}