@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap');

$primary-green: #5fb4a2;
$primary-blue: #203a4c;
$primary-grey: #33323d;
$secondary-bg: #fafafa;
$secondary-text: #eaeaeb;
$secondary-errors: #f43030;

body {
  background-color: $secondary-bg;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

h1 {
  color: $primary-grey;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.446px;
}

h2 {
  color: $primary-grey;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 105% */
  letter-spacing: -0.357px;
}

h3 {
  color: $primary-grey;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 112.5% */
  letter-spacing: -0.286px;
}

p {
  &.body-1 {
    color: $primary-grey;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
  }
  &.body-2 {
    color: $primary-grey;
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
  }
}
